@model ProductViewModel
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Horizontal Form -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Atualizaçaõ de Produto</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form asp-controller="Product" asp-action="Edit" class="form-horizontal" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="form-group row">
                            <label asp-for="Id" class="col-sm-2 col-form-label">Id</label>
                            <div class="col-sm-10">
                                <input asp-for="Id" class="form-control" placeholder="Id" disabled>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="SupplierId" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="SupplierId" class="form-control" asp-items="@(new SelectList(Model.SupplierViewModels, "Id", "CorporateName"))">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="CategoryId" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.CategoryViewModels, "Id", "Description"))">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input asp-for="Description" class="form-control" placeholder="Descrição">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="PurchaseValue" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="PurchaseValue" class="form-control" placeholder="Preço de Compra">
                                <span asp-validation-for="PurchaseValue" class="text-danger"></span>
                            </div>
                            <label asp-for="ProfitMargin" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="ProfitMargin" class="form-control" placeholder="Margem de Lucro">
                                <span asp-validation-for="ProfitMargin" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="SaleValue" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="SaleValue" class="form-control" placeholder="Preço de Venda">
                                <span asp-validation-for="SaleValue" class="text-danger"></span>
                            </div>

                            <label asp-for="Stock" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="Stock" class="form-control" placeholder="Estoque">
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label asp-for="ProfitMade" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-4">
                                <input asp-for="ProfitMade" class="form-control" placeholder="Lucro Obtiddo" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info">Salvar</button>
                        <a asp-action="Index" class="btn btn-default float-right">Voltar</a>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
            <!-- /.card -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            var precoCompra = 0;
            var precoVenda = 0;
            var percentual = 0;
            var valorMargemLucro = 0;
            var totalPrecoVenda = 0;

            $('#PurchaseValue').setMask({ mask: '99.999.999.999.999', type: 'reverse' });
            $('#SaleValue').setMask({ mask: '99.999.999.999.999', type: 'reverse' });
            $('#ProfitMargin').setMask({ mask: '99.999.999.999.999', type: 'reverse' });
            $('#ProfitMade').setMask({ mask: '99.999.999.999.999', type: 'reverse' });

            precoCompra = parseFloat($("#PurchaseValue").val());
            percentual = parseFloat($("#ProfitMargin").val());
            valorMargemLucro = (precoCompra * percentual) / 100;
            totalPrecoVenda = (precoCompra + valorMargemLucro).toFixed(2);

            $("#SaleValue").val(totalPrecoVenda);
            $("#ProfitMade").val((totalPrecoVenda - precoCompra).toFixed(2));

            $("#ProfitMargin").blur(function () {
                if (parseFloat($("#ProfitMargin").val()) > 0) {

                    precoCompra = parseFloat($("#PurchaseValue").val());
                    percentual = parseFloat($("#ProfitMargin").val());
                    valorMargemLucro = (precoCompra * percentual) / 100;
                    totalPrecoVenda = (precoCompra + valorMargemLucro).toFixed(2);

                    $("#SaleValue").val(totalPrecoVenda);
                    $("#ProfitMade").val((totalPrecoVenda - precoCompra).toFixed(2));
                }
            });
        });
    </script>
}
